body {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
	background-color: #007bff;
}

button {
	padding: 10px 20px;
	background-color: #0056b3;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

button:hover {
	background-color: #0056b3;
}
.generator-container {
	background-color: #0056b3;
}
#contentToCopy {
	margin: 20px auto;
	max-width: 400px;
	background-color: #021429;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.result {
	display: flex;
}
#contentToCopy {
	background-color: #021429;
	border: 2px solid red;
}
